@import "tailwindcss";


html, body, #root {
  height: 100%; /* Asegura que #root pueda usar min-h-screen correctamente */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Una fuente más moderna */
  background-color: #121212; /* Fondo oscuro principal (gris muy oscuro) */
  color: #e0e0e0; /* Texto claro por defecto */
  -webkit-font-smoothing: antialiased; /* Mejor renderizado de fuentes */
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos sutiles para la barra de scroll (opcional) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1f1f1f;
}
::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 4px;
  border: 2px solid #1f1f1f; /* Crea un efecto de borde alrededor del thumb */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6a6a6a;
}